#filter{
  width:327px;
  margin:auto;
  background-color:white;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  position:relative;
  bottom:50px;
  border-radius: 10px;
  display:flex;
}

ul{
  background-color: #63BABA;
  list-style: none;
  height:200px;
  padding:0;
  margin:20px;
  overflow: scroll;
  display:flex;
  flex-flow:row wrap;
  border-radius: 20px;
  border:1px solid #5CA5A5;
}
ul::-webkit-scrollbar{
  display:none;
}

ul > li{
  position: relative;
  align-self: center;
  padding: 5px;
  margin:5px;
  border-radius: 10px;
  background-color:#F2F2F2;
  color:#5CA5A5;
  border: 2px #5CA5A5 solid;
}
li:hover{
  background-color:#5CA5A5;
  color:white;
}
.filter-item{
  display:flex;
  flex-flow:row nowrap;
  color:#5CA5A5;
  background-color: hsl(180, 31%, 95%);
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding-left:10px;
  margin:2px;
}
.filter-item > img{
  background-color:#5CA5A5;
  padding:16px;
  margin-left: 10px;
  border-radius:10px;
}
.filtered{
  background-color: #5CA5A5;
  color:white;
}
#clear-btn{
  display:flex;
  font-weight: 700;
  color:white;
  padding:15px;
  background-color: #5CA5A5;
  border-radius: 10px;
}
@media (min-width: 415px){
  #filter{
    width:1110px;
  }
  ul{
    height:100px;
    justify-content: space-evenly;
    overflow: none;
    scrollbar-width:none;
  }
}
