.requirements{
  display:flex;
  flex-flow:row wrap;
  padding: 0px 20px 20px 20px;
}
.requisite{
  margin: 10px 10px 0 0;
  height:32px;
  padding:5px;
  background-color:hsl(180, 31%, 95%);
  display:flex;
  border-radius:5px;
}
.requisite-text{
  align-self: center;
  color:#5CA5A5;
}
@media (min-width:415px){
  .requirements{
    flex-flow:row nowrap;
  }
}
